<!doctype html>
<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center mt-2">
                                <h5>Contáctenos</h5>
                                <p class="text-muted">Estaremos encantados de trabajar para usted.</p>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end col -->

                    <div class="row mt-5">
                        <div class="col-md-4">
                            <div>
                                <h6 class="font-size-14">Correo</h6>
                                <p class="text-muted">contacto@ignitelatam.com</p>
                            </div>
                            <div class="pt-3">
                                <h6 class="font-size-14">Número telefónico</h6>
                                <p class="text-muted">+562 2583 1126</p>
                            </div>
                            <div class="pt-3">
                                <h6 class="font-size-14">Dirección</h6>
                                <p class="text-muted">Obispo Donoso 6, Providencia, Región Metropolitana, Chile</p>
                            </div>
                        </div> <!-- end col -->
                        <div class="col-md-8">
                            <form class="form-custom">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="sr-only form-label" for="username">Name</label>
                                            <input type="text" class="form-control" id="username" placeholder="Su nombre" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="sr-only form-label" for="useremail">Email address</label>
                                            <input type="email" class="form-control" id="useremail" placeholder="Su correo" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="sr-only form-label" for="usersubject">Subject</label>
                                            <input type="text" class="form-control" id="usersubject" placeholder="Tema" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <textarea class="form-control" rows="5" placeholder="Su mensaje..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button type="button" class="btn btn-primary waves-effect waves-light">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>
