<!doctype html>
<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">Nuevo Requerimiento</h4>
                    <p class="card-title-desc">Ingrese los datos correspondientes a su requerimiento.</p>
                    <% if(message.length> 0) { %>
                        <div class="alert alert-success text-center mb-4 flash" role="alert">
                            <%= message %>
                        </div>
                    <% } %>

                    <form class="form-horizontal" method="post" action="add-ticket">
                    <div class="row mb-3">
                        <label for="example-text-input" class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder="Ejemplo: TICKET DE CONTROL DE PROCESOS" id="ticketname" name="name">
                        </div>
                    </div>
                      <!--<div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Área</label>
                        <div class="col-sm-10">
                             <input class="form-control" type="text" value="<%-tipoRequerimiento%>" id="tipoRequerimiento">
                          </div>
                        
                      </div>
                     <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Producto</label>
                        <div class="col-sm-10">
                             <input class="form-control" type="text" value="<%-subProductTicket%>" id="tipoRequerimiento">
                          </div>
                        
                      </div>-->
                      
                      <div class="row mb-3">
                        <label for="example-search-input" class="col-sm-2 col-form-label">Descripcion</label>
                        <div class="col-sm-10">
                            <textarea id="example-search-input" placeholder="Describa su requerimiento." rows="4" class="form-control" name="description"></textarea>
                        </div>
                    </div>
                      
                <!--Drop zone-->
                <div class="row mb-3">
                        <label for="example_drop" class="col-sm-2 col-form-label">Adjunto</label>
                      <div class="col-sm-10">
                        <form action="#" class="dropzone">
                          <div class="fallback">
                            <input name="file" type="file" multiple="multiple"></input>
                            </div>
                        </form>
                      </div>
                </div>
                <!--Enviar -->
                <div class="row mb-3">
                    <button type="submit" class="btn btn-primary btn-lg waves-effect waves-light">Enviar</button>
                </div>
                
               
            </div>
        </div> <!-- end col -->
    </div> <!-- end row --> 
    </form>

<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>
